body {
    background:  #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}
#dataTable {
    width: 80%;
    border-collapse: collapse;
    margin-top: 20px;
}
table {
    width:1200px; 
    border: 1px solid #ccc;
    border-collapse: collapse;
}
thead {
    color: #fff;
    height: 40px;
    background: #1600a1;
    font-size: 14px;
    text-align: center;
}

th, td {
    border: 1px solid #ddd;
}
td {
    padding: 5px;  
    font-size: 12px;
}
tbody tr:hover {
    background-color: #f7f7f7;
}